BASE_URL=http://your-navidrome-ip:4533

# BASE_URL=http://localhost:4533  



ADMIN_USERNAME=your_admin_username
ADMIN_PASSWORD=your_admin_password



# API
VITE_API_URL=http://localhost:8000
# VITE_API_URL=http://backend:8000  ← use this when running via Docker


# VITE_API_URL=http://192.168.29.118:8000 





