#Navidrome Server
BASE_URL=http://192.168.29.118:4533 #Chnage your ip 
ADMIN_USERNAME=adii # change username
ADMIN_PASSWORD=1234 # Change password

# Frontend / API
VITE_API_URL=http://192.168.29.118:8000 # change ip

# Logging 
# Forces the logs to save exactly where Docker is listening for the volume mount
LOG_DIR=/app/logs
LOG_MAX_SIZE=10 MB
LOG_RETENTION_DAYS=7 days
LOG_LEVEL=DEBUG
