#Navidrome Server
BASE_URL=http://192.168.29.118:4533 #Chnage your ip 
ADMIN_USERNAME=adii # change username
ADMIN_PASSWORD=1234 # Change password

# Frontend / API
VITE_API_URL=http://192.168.29.118:8000 # change ip
MY_DOMAIN=localhost


# Allowed origins to make api request to backend
# This is to allow user to access website form diffrent ip or devices,. just add your ip here 
ALLOWED_ORIGINS=http://localhost:5173,http://192.168.29.118:5173   #add more as you need or add * to allow everyone



# Logging 
# Forces the logs to save exactly where Docker is listening for the volume mount
LOG_DIR=/app/logs
LOG_MAX_SIZE=10 MB
LOG_RETENTION_DAYS=7 days
LOG_LEVEL=DEBUG


# Proxy for search result alteration in clients 

PROXY_PORT=4534
